@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	/* colors */

	--lofi-bg-color: #ffff;
	--black-bg-color: #000000;
	--food-bg-color: rgb(94, 163, 236);
	--music-bg-color: rgb(246, 68, 68);
	--pics-bg-color: rgb(255, 180, 0);

	--lofi-text-color: #000000;
	--black-text-color: #ffffff;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}
/* scrollbar */
/* Create a custom scrollbar track */
::-webkit-scrollbar-track {
	background-color: #666;
}

/* Create a custom scrollbar thumb */
::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 10px;
}

/* Change the width of the scrollbar */
::-webkit-scrollbar {
	z-index: 50;
	width: 3px;
	height: 2px;
}

/* Hide the scrollbar when not hovering */
::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}

/* Style the scrollbar for Firefox */
scrollbar {
	width: 3px;
	height: 2px;
	background-color: #f5f5f5;
}

scrollbar-thumb {
	background-color: #ccc;
	border-radius: 10px;
	border: 3px solid #f5f5f5;
}

/* Hide the scrollbar when not hovering */
scrollbar-thumb:hover {
	background-color: #999;
}
